{% load static %}
{# see https://realfavicongenerator.net #}
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
<link rel="apple-touch-startup-image" href="{% static 'images/favicons/apple-touch-icon.png' %}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="apple-mobile-web-app-title" content="Django Starter">
<link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}">
<link rel="mask-icon" href="{% static 'images/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
<link rel="shortcut icon" href="{% static 'images/favicons/favicon.ico' %}">
<meta name="msapplication-TileColor" content="#603cba">
<meta name="msapplication-config" content="{% static 'images/favicons/browserconfig.xml' %}">
<meta name="theme-color" content="#ffffff">
